<div class='container order_container'>
	<h1 class='Add_Order'>Add Order <img  ng-click='testModal()' style= ' margin-left: 10px; width: 3%; cursor: pointer;' src="app/images/add.png"></h1>
	<p class='double_click'>double click me</p>
	

<!-- <button ng-click=testModal()></button>
	<div class='col-md-8' style='border: solid width: 52%'>
		<div class='row'>
			<h3 class='addOrderHeading'>Add Items to Order</h3>
		</div>
		<div class='col-md-4 order_tables' style='text-align: center; width: 49%; margin: 1% 0 0 0; border: solid 0.01px; border-radius: 10px; margin-right: 1%;' ng-repeat='item in items'>
			<h3 ng-bind='item.name'></h3>
			<div class='order-tables-container'>
				<table class='table' style='text-align: left'>
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Price</th>
							<th>Add</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = 'a in item.items track by $index'>
							<td></td>
							<td width=55%>{{a.name}}</td>
							<td>{{a.price}}</td>
							<td><button class='btn btn-primary'>Add</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	
	</div>
	<div class='col-md-4 view-order'>
		<div class='view_order_table' style='border:solid; padding: 2%;'>
			<h3>Current Order</h3>
				<table class='table table-hover' style='text-align: left'>
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Price</th>
							<th>Add</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Fortune</td>
							<td>14</td>
							<td><button>Add</button></td>
						</tr>
						<tr>
							<td>1</td>
							<td>Fortune</td>
							<td>14</td>
							<td><button>Add</button></td>
						</tr>
						<tr>
							<td>1</td>
							<td>Fortune</td>
							<td>14</td>
							<td><button>Add</button></td>
						</tr>
						<tr>
							<td>1</td>
							<td>Fortune</td>
							<td>14</td>
							<td><button>Add</button></td>
						</tr>
					</tbody>
				</table>			
		</div>
	</div>
-->
	
</div>