
    <div class="container" style='height: 1400px;' id='create_layout_page'>
      <div class="starter-template" style='text-align: center'>
        <h1>Create A Layout For Your Restauraunt</h1>
        <form class='form-inline button_groupings'>
         <a class = "btn layout btn-full create_layout" ng-click='show_Layout()'>Create Layout</a></button>
         <a class = "btn layout btn-ghost create_layout" ng-click='open()'>Skip</a></button>
        </form>
        <div>
          <div class='button groupings'>
            <button class='btn btn-primary' ng-click='addTable()'>Add Table</button>
            <!-- maybe add a modal with teh section -->
            <button class='btn btn-info' ng-click='openAdd()'>Add Section</button>
            <button class='btn btn-danger' ng-click='deleteTables()'>Remove Layouts</button>
           <button class='btn btn-primary'><a href="#/menu">Build Menu!</a></button>
          </div>
        <div class='restaur_container'></div>
        </div>
      </div>
    </div>
    <!-- Custom Menu -->
    <ul class='custom-menu'>
      <li data-action="complete_order">Complete Order</li>
      <li data-action="edit">Edit</li>
      <li data-action="delete">Delete</li>
    </ul>


