.menu_header {
    text-align: center;
}
.menu_wrapper {

}

.get_started_btn {
	margin: 25px;
    left: 0;
    right: 0;
    width: 100px;    
    height: 35px;
    color: grey;
}

.menu_form_category {
	margin-top: 30px;
	width: 100%;
	text-align: center; 
}
.add_select_category div {
	display: inline-block;
	margin: 0 auto;

}
#add_category {
	width: 300px; 
	vertical-align: top;
}
#select_category {
	width: 300px;
	vertical-align: top;
}
.menu_items {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}