table_body {
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}



.table_body strong {
    font-weight: bold; 
}

.table_body em {
    font-style: italic; 
}
.menu_head {
    width: 80%;
}
.ind_table {
    color: red;
    overflow: scroll;

}
#menu {
    table-layout: fixed;
    background-color: grey;
    color: green;
}
th,td {
    overflow: hidden;
}

.menu th,td {
    width: 12%;
    overflow: hidden;
}
#ind_order_button {
    height: 25px;
    width: 30px;
    font-size: 10px;
    float: right;
    background-color: grey;
    margin: 0 auto;
    padding: 0;
}

.table_body table {
    background: #f5f5f5;
    table-layout: fixed;
    width: 40%;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    height: 10%;
    vertical-align: top;
    display: inline;
}



.table_container {
    vertical-align:top;
    height: 30%;
    margin: 10px;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    overflow: scroll;
}
.view_menu_table {
    width: 100%;
}

.table_body th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

.table_body th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}
.table_body #actions_th {
    text-align: center;
}

.table_body th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

.table_body th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.table_body td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.table_body td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

.table_body td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

.table_body tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.table_body tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.table_body tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

.table_body tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

.table_body tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

.table_body tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.table_body tbody:hover tr:hovwer td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
#view_order_table {
    width: 200%;
}


.order_menu_container {
    margin-left: 30px;
    width: 30%;
    margin-right: 10px;
    display: inline-block;
    max-height:  300px;
    overflow: scroll;
    vertical-align: top;
    margin-top: 80px;
    border-top: groove;
}

.this_order {
    margin: 0 auto;
    width: 30%;
    max-height: 400px;
    overflow: scroll;
}

#view_all_orders_table {
    width: 40%;
    margin-left: 30px;
}
