

/* Menu Tables */
.menu_main {
	margin-top: 80px;
}
.container_buttons {
	text-align: center;
}

.menu-tables {
	text-align: left;
}

.fa-edit {
	margin-right: 10px;
}

.fa-times {
	border: solid;
	padding: 3px;
}

.menu_container {
	margin-top: 50px;
}

.menu_header {
	margin-top: 7%;
	width: 100%;
}

.menu_div_container {
	text-align: center;
}
.menu_div {
	margin: 1%;
    height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, 
  color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
  background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);   border-radius: 15px;
   box-shadow: 0 0 5px 2px rgba(0,0,0,.35);

}


.tables_width {
	max-width: 100%;
}


.tables-width {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 3% 0 3%;
}

.menu-tables-container {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    white-space: nowrap;
    margin-right: 10px;
    padding: 30px;
}

.menu-tables  th:nth-child(1) {
    width: 10%;
}
.menu-tables  th:nth-child(2) {
    width: 35%;
}
.menu-tables  th:nth-child(3) {
    width: 5%;
}
.menu-tables  th:nth-child(4) {
    width: 30%;
}

.order_container {
	margin-top: 50px;
	padding: 0;



                
	width: 100%;


        

}
.order-tables-container {
	white-space: nowrap;
	overflow-y: scroll;

	height: 200px;
}

.addOrderHeading {
	text-align: center;
}

.view-order {
	height: 100vh;
}

.view_order_table {
	position: relative;
	top: 14%;
}
.voc {
	margin-top: 8%;
}
.view_order_tables {
	width: 100%;
	height: 300px;
	font-color: red;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;


background: #8e9eab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	border: 0.5px solid;
	margin-top: 1%;
	margin-top: 100% auto;
	border-radius: 3px;
	box-shadow: 10px 5px 5px grey;
}
.Add_Order {
	text-align: center;
	margin-top: 1%;
}

.modal-select h4 {
	text-align: left;
}


