<!-- HOME PAGE -->

	<header>
		<div class=''>
			<div class='simplify_operations'>
				<h1>Simplify Restauraunt Operations</h1>
				<a href="#" class = 'custom-btn btn-scroll'>How Does It Work?</a>
				<a href="#" class='custom-btn btn-start'>Get Started</a>
			</div>
		</div>
	</header>
	<section class='secures-description'>
		<div class='row'>
			<h2>A Platform To Easily Manage Your Restauraunt</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			est laborum.</p>
		</div>
		<div class='row'>
			<div class='col-md-4'>
				<h3>Create ar Layout</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
			</div>
			<div class='col-md-4'>
				<h3>Seamless Operation</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class='col-md-4'>
				<h3>Waitlist and Platform</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</section>
	<section class='how-it-works'>
		<div class='row'>
			<h4>HOW IT WORKS</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
		</div>
	</section>