<div class='menu_container' ng-controller = 'MenuCtrl as mc'>
    <!-- Add a Div that shows Category -->
    <div class='row menu_header' ng-hide='true'>
     <span style='font-size: 28px;'><strong>Add Menu Items!</strong></span><img ng-click='mc.openMenuModal()' style= ' margin-left: 10px; width: 3%; cursor: pointer;' src="app/images/add.png"></span>
    </div>
    <div class="row menu_empty">
        <h2>
            Let's Start Building Your Menu!<span ng-click="mc.openMenuModal()"><i class="fa fa-cutlery menu_empty_icon" aria-hidden="true"></i> </span>
        </h2>
    </div>
    <div class='tables-container menu_div_container'>
        <div class='row tables_width'>
            <div class='menu_div_container' style='width: 90%; margin: 0 auto;''>
            <div class='col-lg-5 menu_div' ng-repeat='menu in items track by $index' style='margin-left: 6%; margin-right:2%;'>
               <span style='text-align: center'> <h3 class='menu_cat_title'>{{menu.name}}<span style='margin-left: 1%'><i style='margin-left: 1%; cursor: pointer;' class="fa fa-pencil-square-o fa-edit fa-1x" aria-hidden="true" ng-click='editModal(menu)'></i><i style='cursor: pointer' class="fa fa-trash-o fa-1x" aria-hidden="true" ng-click='removeCategory(menu._id)'></i><img ng-click='addItem(menu)' style= ' margin-left: 10px; width: 3%; cursor: pointer;' src="app/images/add.png"></span></h3>
                <div class='menu-tables-container'>
                <table class='table table-hover menu-tables'>
                    <thead>
                        <tr>
                            <th>Item #</th>
                            <th >Name</th>
                            <th >Price</th>
                            <th >Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='table-success' ng-repeat='x in menu.items track by $index'>
                            <td>-</td>
                            <td ng-bind='x.name'></td>
                            <td ng-bind='x.price'> </td>
                            <td><i class="fa fa-pencil-square-o fa-edit fa-2x" aria-hidden="true" ng-click='editItem(x)'></i><i class="fa fa-trash-o fa-2x" aria-hidden="true" ng-click='removeItem(x._id)'></i></td>                   
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
            </div>
    </div>
</div>



