<div class="row">
<!-- Ned a way to ensure that the menu is validated when submitted so no empty menu -->
     <div class="col-md-6">
            <div class='menu_header'>
                    <h1 style='text-align: center;'>Build Your Menu</h1>
                    <!-- Button to ng-show menu categories -->
                    <button class ='get_started_btn'>Get Started</button>
                    <button class ='get_started_btn' ng-click='view_menu()'>View Menu</button>
                </div>
                <div class ='menu_form_category'>
                    <div class = 'add_select_category'>
                        <form>
                            <div id="add_category">
                                <h2>Add Category |</h2>
                                    <input type='text' ng-model='newCategory.name'>
                                    <input type= 'submit'  ng-click = 'addCategory()' >
                            </div>
                            <div id="select_category">
                                <h2>| Select Category</h2>
                                    <select class="form_control" ng-model='selectedCategory' ng-change = 'previewCategory(selectedCategory);'>
                                        <option ng-repeat = 'category in categories' ng-bind='category.name' value='{{category._id}}'></option>
                                    </select>
                            </div>
                        </form>
                    </div>
                        <div class="menu_items">
                            <form>
                                <fieldset class="form-group">
                                    <label>Item Name</label>
                                    <input type='text' class='form-control' placeholder='Item Name' ng-model='newItem.name' required/>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Item Price</label>
                                    <input type='text' class='form-control' placeholder='Item Name' ng-model='newItem.price' required>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="exampleTextarea">Item Description</label>
                                    <textarea class="form-control" ng-model= 'newItem.description' rows="3"></textarea>
                                 </fieldset>
                                 <button ng-click='addItem(selectedCatory)'>Add Item</button>
                                 <button ng-click='addItem(selectedCatory)'>Remove Item</button>
                                <!--  <a href="#/view" style = 'color: blue; margin-top:10px'>View Menu</a> -->
                             </form>
                        </div>
                    </div>
              </div>
     <div class="col-md-6" id='show_category'>
        <form ng-show ='show_update' ng-init='show_update = false;' ng-submit='updateItem()'>
          <p>
            New Name<input type="text" ng-model='updateThisItem.name'>
            New Price<input type="text" ng-model='updateThisItem.price'>
            <input class= 'update_item' type="submit" value="Update"  />
          </p>
        </form>

        <h2 ng-show='selectACategory' ng-init='selectACategory = true'>Select A Category</h2>
        <div class = 'showCategory' ng-hide= 'selectACategory'>
                <h3 style='text-align:center'>{{previewedCategory.name}}</h3>
            <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat = 'item in previewedCategory.items'>
                    <td>-</td>
                    <td ng-bind='item.name'></td>
                    <td ng-bind='item.price'></td>
                    <td><button class = 'btn btn-danger' ng-click='removeItem(item._id)' style='margin-right: 2px'>Remove</button><button class='btn btn-info' ng-click='showUpdate(item._id)'>Update</button></td>
                </tr>
            </table>
        <div>  
</div>

