<div class="form-group" id='modal'>
	<div class='selecting_tables'>	
	        <label >Select Number of Tables</label>
	        <select ng-model='chosen_value' ng-change='standardTables(chosen_value)'>
	            <option ng-repeat='x in num_tables'>{{x}}</option>
	        </select>
	     </div>
	<!--    <select ng-model='chosen_value' ng-change='standardTables(chosen_value)'>
				<option ng-repeat='x in num_tables' value='{{x}}'> {{x}}</option>

			</select> -->
	    </select>
	  </div>

	  {{chosen_value}}

</div>`