	<div class='tables-container'>
		<div class='row'>
			<button class='btn btn-primary'>Add Menu Category</button>

		</div>
		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>		<div class='row table_containers'>
			<div class='col-lg-6 menu_div'>
				<h4> Title 1</h4>
				<div class='menu-tables-container'>
				<table class='table table-hover menu-tables'>
					<thead>
						<tr>
						<!-- find a good proportion to 100 -->
							<th>Item #</th>
							<th >Name</th>
							<th >Price</th>
							<th >Actions</th>
	<!--- Function for each to the thane    why teh fuckm cant you focus at home !?????????  -->
						</tr>
					</thead>
					<tbody>
						<tr class='table-success'>
							<td>1</td>
							<td>Shrimp Roll</td>
							<td>14</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr class='table-success'>
							<td>1</td>
							<td>Shrimp Roll</td>
							<td>14</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>

					</tbody>
		
				</table>
					
				</div>

				
			</div>
			<div class='col-lg-6 menu_div'>
				<h4> Title 1</h4>
				<div class='menu-tables-container'>
				<table class='table table-hover menu-tables'>
					<thead>
						<tr>
						<!-- find a good proportion to 100 -->
							<th>Item #</th>
							<th >Name</th>
							<th >Price</th>
							<th >Actions</th>
	<!--- Function for each to the thane    why teh fuckm cant you focus at home !?????????  -->
						</tr>
					</thead>
					<tbody>
						<tr class='table-success'>
							<td>1</td>
							<td>Shrimp Roll</td>
							<td>14</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>

					</tbody>
		
				</table>
					
				</div>
				
				
			</div>
			<div class='col-lg-6 menu_div'>
				<h4> Title 1</h4>
				<div class='menu-tables-container'>
				<table class='table table-hover menu-tables'>
					<thead>
						<tr>
						<!-- find a good proportion to 100 -->
							<th>Item #</th>
							<th >Name</th>
							<th >Price</th>
							<th >Actions</th>
	<!--- Function for each to the thane    why teh fuckm cant you focus at home !?????????  -->
						</tr>
					</thead>
					<tbody>
						<tr class='table-success'>
							<td>1</td>
							<td>Shrimp Roll</td>
							<td>14</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>

					</tbody>
		
				</table>
					
				</div>
				
				
			</div>
			<div class='col-lg-6 menu_div'>
				<h4> Title 1</h4>
				<div class='menu-tables-container'>
				<table class='table table-hover menu-tables'>
					<thead>
						<tr>
						<!-- find a good proportion to 100 -->
							<th>Item #</th>
							<th >Name</th>
							<th >Price</th>
							<th >Actions</th>
	<!--- Function for each to the thane    why teh fuckm cant you focus at home !?????????  -->
						</tr>
					</thead>
					<tbody>
						<tr class='table-success'>
							<td>1</td>
							<td>Shrimp Roll</td>
							<td>14</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>

					</tbody>
		
				</table>
					
				</div>
				
				
			</div>
			<div class='col-lg-6 menu_div'>
				<h4> Title 1</h4>
				<div class='menu-tables-container'>
				<table class='table table-hover menu-tables'>
					<thead>
						<tr>
						<!-- find a good proportion to 100 -->
							<th>Item #</th>
							<th >Name</th>
							<th >Price</th>
							<th >Actions</th>
	<!--- Function for each to the thane    why teh fuckm cant you focus at home !?????????  -->
						</tr>
					</thead>
					<tbody>
						<tr class='table-success'>
							<td>1</td>
							<td>Shrimp Roll</td>
							<td>14</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>

					</tbody>
		
				</table>
					
				</div>
				
				
			</div>
			<div class='col-lg-6 menu_div'>
				<h4> Title 1</h4>
				<div class='menu-tables-container'>
				<table class='table table-hover menu-tables'>
					<thead>
						<tr>
						<!-- find a good proportion to 100 -->
							<th>Item #</th>
							<th >Name</th>
							<th >Price</th>
							<th >Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr class='table-success'>
							<td>1</td>
							<td>Shrimp Roll</td>
							<td>14</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Mini Panini</td>
							<td>23</td>
							<td><button class='btn btn-primary menu-add-remove'>Edit</button><button class='btn btn-danger menu-remove'>Remove</button></td>
						</tr>

					</tbody>
		
				</table>
					
				</div>
				
				
			</div>
				
		</div>

	</div>
</div>