<div class="view_all_orders_container">
	<div class='order_wrapper'>
		<h3>Table: #1</h3>
		<table class="table table-bordered" id='view_all_orders_table'>
			<thead>
				<tr>
					<th>Category</th>
					<th>Item Name</th>
					<th>Item Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Appetizers</td>
					<td>Salad</td>
					<td>14</td>
				</tr>
				<tr>
					<td>Drinks</td>
					<td>Coke</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Alcohol</td>
					<td>Jack Daniels</td>
					<td>14</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>