
</style>

<div class='table_body' ng-controller='MenuCtrl'>
	<div class='update_container' style='margin: 0 auto;' ng-show='show_update' ng-init='show_update = false'>
		<form class='form-group'> 
			New  Name <input type='text' ng-model='updateThisItem.name'>
			New Price <input type='text' ng-model='updateThisItem.price'>
			<input type='submit' class='update_item' ng-click='updateItem(menu._id)' style='background-color: #99ccff'>
		</form>
	</div>
	<div class='table_container' ng-repeat='menu in items' >
		<h3 style>{{menu.name}}</h3>
		<table id='menu'>
			 <thead>
			   <tr>
			     <th>Number</th>
			     <th id='second_head' style='overflow:hidden'>Item Name</th>
			     <th>Price</th>
			     <th>Actions
			     	<button class='btn btn-default' id='remove_menu_category' ng-click='removeCategory(menu._id)'>X</button>
			     </th>
			   </tr
			 </thead>
		  <tbody>
		    <tr ng-repeat='x in menu.items track by $index'>
			    <td>-</td>
			   	<td ng-bind='x.name' style='width:43%; overflow:scroll'></td>
			   	<td ng-bind='x.price'></td>
			   	<td style='width: 35%;'><button class ='btn btn-primary' style="width:55px; font-size: 8px" ng-click="showUpdate(x._id)" '>Update</button>
			   	<button class ='btn btn-danger' style="width:55px; font-size: 8px; text-align: center" ng-click='removeItem(x._id)'>Remove</button>
		    	</td>
		    </tr>
		   </tbody>
		</table>
	</div>
	<span class='stretch'></span>

 </div>




