<div class="view_all_orders_container" ng-controller ='OrdersCtrl' style='display: inline-block'>
	<div class="input-append" ng-hide='show_all_orders' ng-init='show_all_orders = false'>
		<h3 style='margin-right: 40px;'>Enter Zip Code</h3>
	    <input ng-model='zipcode'>
	    <button class="btn btn-info" ng-click='getSalesTax()'>Submit</button>
	</div>
	<div class='order_wrapper' style='margin: 0 auto' ng-show='show_all_orders'>	 
		<div class='order_table_container' style='position: relative; left:30%' ng-repeat="x in submitted_orders track by $index | orderBy: 'table'">
			<h3 style='margin-left: 20px'>Table: #{{x.table}}</h3>
			<table class="table table-bordered" id='view_all_orders_table'>
				<thead>
					<tr>
						<th>Category</th>
						<th>Item Name</th>
						<th>Item Price</th>
						<th>Actions
						<button class='btn btn-default' style='height: 25px; width: 30px; font-size: 10px; float: right; margin: 0 auto; padding: 0' ng-click='removeSubmittedOrder(x._id)'>X</button></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='a in x.items'>
						<td>{{a.category}}</td>
						<td>{{a.name}}</td>
						<td>{{a.price}}</td>
						<td><button class='btn btn-danger' ng-click='removeItemFromOrder(a._id)'>Remove</button></td>
					</tr>
				</tbody>
			</table>
			<div class='order_table_buttons' style='position: relative; left: 15%'>
				<button class='btn btn-default' >Complete Order</button>
				<button class='btn btn-info' ng-click='calculateTotal(x)'>Calculate Total</button>
				<div ng-show='activeItem==x' >
					<ul>
						<li>Total: {{totalPrice}}</li>
						<li>Sales Tax: 8.75%</li>
						<li>__________________________</li>
						<li>Order Total: {{totalPrice * 1.0875 | number:2}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<ks-restaur-layout></ks-restaur-layout>
		</div>
</div>