<div class='container-fluid'>
    <h3>Page ID : {ID: #Able to drag the tables around to position orders}</h3>
<!--     <p ng-repeat = 'x in tables'>{{x}}</p>
 -->    <p>Loading ... </p>

    <ul>
        <li id='posX'>x pos: </li>
        <li id='posY'>y pos: </li>
    </ul>
    <button id='addicon'>Add Icon</button>

    <div class='restaur_container'>

    </div>
    <button class='testButton' ng-click='getTables()'>Test me </button>
    <div class='restaur_img'>
    </div>
    <div class='moveAbleDiv'>
    </div>
</div>