<style>
.table_body {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	table-layout: fixed;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}
.table_container {
	vertical-align: top;
	display: inline-block;
	width: 30%;
	height: 20%;
*/	margin-top: 30px;
}
.table_body th, tr {
	width: 50%;
	overflow:scroll;
}
.stretch {
	width: 100%;
	display: inline-block;
	font-size:0;
	line-height: 0;
}

</style>


<div class='table_body'>
	<!-- INSERT UPDATE CONTAINER -->
	<div class='table_container'>
		<h3>Heading 1</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Number</th>
					<th id='item_name'>Item Name</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<div class='table_container'>
		<h3>Heading 1</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Number</th>
					<th>Item Name</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>kgewakgnkwegnwegknnkweagkweak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>  Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<div class='table_container'>
		<h3>Heading 1</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Number</th>
					<th>Item Name</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>  Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<div class='table_container'>
		<h3>Heading 1</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Number</th>
					<th>Item Name</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>  Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Filet Mignon Steak</td>
					<td>14.99</td>
					<td><button>Update</button><button>Remove</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<span class='stretch'></span>
	
</div>