<div class='waitlist_container'>
	<h1>Waiting List</h1>

	<button type="button" class="btn btn-primary btn-lg active group_waitlist" ng-click='open()'>Add Group</button>
	<table class='table waiting_list_table'>
		<thead>
			<tr>
				<td>Name</td>
				<td>Size</td>
				<td>Number</td>
				<td>Notified</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Kyle</td>
				<td>14</td>
				<td>+19092602528</td>
				<td>No</td>
				<td><button class='btn btn-primary'>Notify</button><button class='btn btn-danger'>Remove</button></td>
			</tr>
			<tr>
				<td>Kyle</td>
				<td>14</td>
				<td>+19092602528</td>

				<td>No</td>
				<td><button class='btn btn-primary'>Notify</button><button class='btn btn-danger'>Remove</button></td>
			</tr>
			<tr>
				<td>Kyle</td>
				<td>14</td>
				<td>+19092602528</td>

				<td>No</td>
				<td><button class='btn btn-primary'>Notify</button><button class='btn btn-danger'>Remove</button></td>
			</tr>
			<tr>
				<td>Kyle</td>
				<td>14</td>
				<td>+19092602528</td>

				<td>No</td>
				<td><button class='btn btn-primary'>Notify</button><button class='btn btn-danger'>Remove</button></td>
			</tr>
			<tr>
				<td>Kyle</td>
				<td>14</td>
				<td>+19092602528</td>

				<td>No</td>
				<td><button class='btn btn-primary'>Notify</button><button class='btn btn-danger'>Remove</button></td>
			</tr>
			<tr>
				<td>Kyle</td>
				<td>14</td>
				<td>+19092602528</td>

				<td>No</td>
				<td><button class='btn btn-primary'>Notify</button><button class='btn btn-danger'>Remove</button></td>
			</tr>
		</tbody>
		
	</table>



</div>